$primary-color:#216b0c;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#467070;
$background-color:#000000;
$border-color:#006527;
$gutter-color:#cccccc;
$faded-text-color:#006d50;
$log-icon-color:#ffffff;
$log-icon-text-color:#000000;
$text-color:#b8e2ac;
